html,
body {
  background: -webkit-linear-gradient(#f28f68, #faae7b);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#f28f68, #faae7b);
  /* Opera 11.6 - 12.0 */
  background: -moz-linear-gradient(#f28f68, #faae7b);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#f28f68, #faae7b);
  /* 标准的语法 */
  height: 100%;
  /* 遮罩层 */
}
html section.loader,
body section.loader {
  width: 100%;
  min-height: 100%;
  background: -webkit-linear-gradient(#f28f68, #faae7b);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#f28f68, #faae7b);
  /* Opera 11.6 - 12.0 */
  background: -moz-linear-gradient(#f28f68, #faae7b);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#f28f68, #faae7b);
  /* 标准的语法 */
}
html section.loader > div,
body section.loader > div {
  padding-top: 50%;
}
html section.loader > div:nth-child(1),
body section.loader > div:nth-child(1) {
  font-weight: bold;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  font-style: italic;
  color: #f86706;
}
html section.loader > div:nth-child(2),
body section.loader > div:nth-child(2) {
  box-sizing: border-box;
  padding: 2px;
  margin: 0 auto;
  width: 15em;
  height: .5em;
  background-color: #faae7b;
  border-radius: .4em;
}
html section.loader > div:nth-child(2) div,
body section.loader > div:nth-child(2) div {
  width: 30%;
  height: .24em;
  border-radius: .4em;
  background-color: #f86706;
}
html section.home,
body section.home {
  display: none;
}
html section.home > div:nth-child(1),
body section.home > div:nth-child(1) {
  width: 7.5rem;
  height: 8.32rem;
  background: url('../images/home_01.png') no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
html section.home > div:nth-child(1) > a,
body section.home > div:nth-child(1) > a {
  position: absolute;
  right: .27rem;
  top: .3rem;
  display: inline-block;
  width: 1.38rem;
  height: .4rem;
  border-radius: .2rem;
  background-color: #1b4ca3;
  text-align: center;
  line-height: .4rem;
  font-size: .24rem;
  color: #ffe1ad;
}
html section.home > div:nth-child(2),
body section.home > div:nth-child(2) {
  width: 4.96rem;
  height: .4rem;
  background: url('../images/home_02.png') no-repeat;
  background-size: cover;
  margin: .23rem auto 0;
  position: relative;
  z-index: 1;
}
html section.home > div:nth-child(3),
body section.home > div:nth-child(3) {
  position: relative;
  top: .62rem;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  z-index: 2;
}
html section.home > div:nth-child(3) > a,
body section.home > div:nth-child(3) > a {
  display: inline-block;
  width: 3.53rem;
  height: .82rem;
  background: url('../images/home_btn.png') no-repeat;
  background-size: cover;
}
html section.home > div:nth-child(4),
body section.home > div:nth-child(4) {
  position: absolute;
  bottom: 0;
  width: 7.5rem;
  height: 4.79rem;
  background: url('../images/boot.png') no-repeat;
  background-size: cover;
}
html section.topic,
body section.topic {
  display: none;
  width: 7.5rem;
  height: 100%;
  background: url('../images/bg.png') no-repeat;
  background-size: cover;
  padding-top: .67rem;
  box-sizing: border-box;
}
html section.topic > div:nth-child(1),
body section.topic > div:nth-child(1) {
  width: 7.24rem;
  height: .91rem;
  background: url('../images/topic_01.png') no-repeat;
  background-size: cover;
  margin: 0 auto;
}
html section.topic > div:nth-child(1) > ul,
body section.topic > div:nth-child(1) > ul {
  display: flex;
  width: 5.66rem;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  height: 0.59rem;
}
html section.topic > div:nth-child(1) > ul > li,
body section.topic > div:nth-child(1) > ul > li {
  width: .49rem;
  height: .47rem;
  background-image: url('../images/star_hui.png');
  background-repeat: no-repeat;
  background-size: cover;
}
html section.topic > div:nth-child(2),
body section.topic > div:nth-child(2) {
  margin: 0 auto;
  width: 5.42rem;
  height: 1.35rem;
  box-sizing: border-box;
  font-size: .3rem;
  display: flex;
  padding: .1rem 0 .2rem;
  justify-content: space-between;
}
html section.topic > div:nth-child(2) > div:nth-child(1),
body section.topic > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #455fa9;
}
html section.topic > div:nth-child(2) > div:nth-child(1) > p:nth-child(1),
body section.topic > div:nth-child(2) > div:nth-child(1) > p:nth-child(1) {
  font-size: .28rem;
}
html section.topic > div:nth-child(2) > div:nth-child(1) > p:nth-child(1) > span,
body section.topic > div:nth-child(2) > div:nth-child(1) > p:nth-child(1) > span {
  font-size: .44rem;
  color: #ffe1ad;
}
html section.topic > div:nth-child(2) > div:nth-child(1) > p:nth-child(2),
body section.topic > div:nth-child(2) > div:nth-child(1) > p:nth-child(2) {
  font-size: .24rem;
}
html section.topic > div:nth-child(2) > div:nth-child(2),
body section.topic > div:nth-child(2) > div:nth-child(2) {
  color: #cd3e3e;
}
html section.topic > div:nth-child(2) > div:nth-child(2) > p:nth-child(1),
body section.topic > div:nth-child(2) > div:nth-child(2) > p:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.49rem;
}
html section.topic > div:nth-child(2) > div:nth-child(2) > p:nth-child(1) > span:nth-child(1),
body section.topic > div:nth-child(2) > div:nth-child(2) > p:nth-child(1) > span:nth-child(1),
html section.topic > div:nth-child(2) > div:nth-child(2) > p:nth-child(1) > span:nth-child(3),
body section.topic > div:nth-child(2) > div:nth-child(2) > p:nth-child(1) > span:nth-child(3) {
  display: inline-block;
  width: .28rem;
  height: .01rem;
  background-color: #cd3e3e;
}
html section.topic > div:nth-child(2) > div:nth-child(2) > p:nth-child(1) > span:nth-child(1),
body section.topic > div:nth-child(2) > div:nth-child(2) > p:nth-child(1) > span:nth-child(1) {
  margin-right: .3rem;
}
html section.topic > div:nth-child(2) > div:nth-child(2) > p:nth-child(1) > span:nth-child(3),
body section.topic > div:nth-child(2) > div:nth-child(2) > p:nth-child(1) > span:nth-child(3) {
  margin-left: .3rem;
}
html section.topic > div:nth-child(2) > div:nth-child(2) > p:nth-child(2),
body section.topic > div:nth-child(2) > div:nth-child(2) > p:nth-child(2) {
  width: 2.49rem;
  height: .78rem;
  background: url('../images/topic_02.png') no-repeat;
  background-size: cover;
  font-size: .51rem;
  padding-left: .34rem;
  box-sizing: border-box;
}
html section.topic > div:nth-child(3) > div,
body section.topic > div:nth-child(3) > div {
  width: 6.58rem;
  height: 6.55rem;
  background: url('../images/topic_03.png') no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: .5rem 0 .3rem;
  box-sizing: border-box;
}
html section.topic > div:nth-child(3) > div > p,
body section.topic > div:nth-child(3) > div > p {
  width: 5.66rem;
  font-size: .3rem;
  margin: 0 auto;
  color: #cd3e3e;
  font-size: .28rem;
}
html section.topic > div:nth-child(3) > div > ul,
body section.topic > div:nth-child(3) > div > ul {
  width: 5.5rem;
  height: 3.27rem;
  margin: .25rem auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html section.topic > div:nth-child(3) > div > ul > li,
body section.topic > div:nth-child(3) > div > ul > li {
  width: 5.5rem;
  height: .6rem;
  padding-left: .2rem;
  box-sizing: border-box;
  line-height: .6rem;
  position: relative;
  background-color: #ffe1ad;
  border-radius: .3rem;
}
html section.topic > div:nth-child(3) > div > ul > li.topicbg,
body section.topic > div:nth-child(3) > div > ul > li.topicbg {
  background-color: #ffad53;
}
html section.topic > div:nth-child(3) > div > ul > li > p:nth-child(2).right,
body section.topic > div:nth-child(3) > div > ul > li > p:nth-child(2).right {
  width: .68rem;
  height: .51rem;
  background: url('../images/tp_right.png') no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: -0.1rem;
}
html section.topic > div:nth-child(3) > div > ul > li > p:nth-child(2).erro,
body section.topic > div:nth-child(3) > div > ul > li > p:nth-child(2).erro {
  width: .43rem;
  height: .44rem;
  background: url('../images/tp_err.png') no-repeat;
  background-size: cover;
  position: absolute;
  right: .2rem;
  top: 0;
  bottom: 0;
  margin: auto;
}
html section.topic > div:nth-child(3) > a,
body section.topic > div:nth-child(3) > a {
  display: inline-block;
  margin: .09rem auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.53rem;
  height: .82rem;
  background: url('../images/topic_04.png') no-repeat;
  background-size: cover;
  font-size: .38rem;
  color: #ffd6b7;
}
html section.main,
body section.main {
  display: none;
  width: 7.5rem;
  height: 100%;
  background: url('../images/bg.png') no-repeat;
  background-size: cover;
}
html section.main > div:nth-child(1),
body section.main > div:nth-child(1) {
  width: 7.5rem;
  height: 6.3rem;
  background: url('../images/main_01.png') no-repeat;
  background-size: cover;
  position: relative;
}
html section.main > div:nth-child(1) > a,
body section.main > div:nth-child(1) > a {
  position: absolute;
  right: .27rem;
  top: .3rem;
  display: inline-block;
  width: 1.38rem;
  height: .4rem;
  border-radius: .2rem;
  background-color: #1b4ca3;
  text-align: center;
  line-height: .4rem;
  font-size: .24rem;
  color: #ffe1ad;
}
html section.main > div:nth-child(1) > div:nth-child(2),
body section.main > div:nth-child(1) > div:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 5.66rem;
  height: 2.48rem;
  font-size: .28rem;
}
html section.main > div:nth-child(1) > div:nth-child(2) > div:nth-child(1),
body section.main > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
  text-align: center;
  color: #455fa9;
}
html section.main > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > i,
body section.main > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > i {
  padding: .18rem;
}
html section.main > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > i > span,
body section.main > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > i > span {
  font-size: .37rem;
  color: #ffe1ad;
}
html section.main > div:nth-child(1) > div:nth-child(2) > div:nth-child(2),
body section.main > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
  color: #cd3e3e;
  box-sizing: border-box;
  padding: .43rem 0 0 .27rem;
}
html section.main > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > p:nth-child(4) > span,
body section.main > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > p:nth-child(4) > span {
  font-size: .37rem;
  color: #fedca9;
}
html section.main > div:nth-child(1) > div:nth-child(3),
body section.main > div:nth-child(1) > div:nth-child(3) {
  position: absolute;
  bottom: -1.17rem;
  right: 0;
  width: 2.63rem;
  height: 3.2rem;
  background: url('../images/hongqi.png') no-repeat;
  background-size: cover;
}
html section.main > div:nth-child(2),
body section.main > div:nth-child(2) {
  width: 7.24rem;
  height: .91rem;
  background: url('../images/topic_01.png') no-repeat;
  background-size: cover;
  margin: .38rem auto 0;
}
html section.main > div:nth-child(2) > ul,
body section.main > div:nth-child(2) > ul {
  display: flex;
  width: 5.66rem;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  height: 0.59rem;
}
html section.main > div:nth-child(2) > ul > li,
body section.main > div:nth-child(2) > ul > li {
  width: .49rem;
  height: .47rem;
  background-image: url('../images/star_hui.png');
  background-repeat: no-repeat;
  background-size: cover;
}
html section.main > div:nth-child(3),
body section.main > div:nth-child(3) {
  width: 7.5rem;
  height: 8.02rem;
  background: url('../images/main_02.png') no-repeat;
  background-size: cover;
}
html section.main > div:nth-child(3) > div:nth-child(1),
body section.main > div:nth-child(3) > div:nth-child(1) {
  width: 6.1rem;
  height: 2.69rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
html section.main > div:nth-child(3) > div:nth-child(1) > div,
body section.main > div:nth-child(3) > div:nth-child(1) > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
html section.main > div:nth-child(3) > div:nth-child(1) > div:nth-child(1),
body section.main > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) {
  width: 2.6rem;
  height: 2.21rem;
}
html section.main > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) > p,
body section.main > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) > p {
  width: 1.39rem;
  height: 1.11rem;
  background: url('../images/main_li_l.png') no-repeat;
  background-size: cover;
}
html section.main > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) > a,
body section.main > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) > a {
  display: inline-block;
  width: 2.6rem;
  height: .6rem;
  background: url('../images/topic_04.png') no-repeat;
  background-size: cover;
  color: #ffd6b7;
  font-size: .32rem;
  line-height: .6rem;
  text-align: center;
}
html section.main > div:nth-child(3) > div:nth-child(1) > div:nth-child(2),
body section.main > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) {
  width: 3rem;
  height: 2.47rem;
}
html section.main > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > p,
body section.main > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > p {
  width: 3rem;
  height: 1.46rem;
  background: url('../images/main_li_r.png') no-repeat;
  background-size: cover;
}
html section.main > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > a,
body section.main > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > a {
  display: inline-block;
  width: 2.6rem;
  height: .6rem;
  background: url('../images/topic_04.png') no-repeat;
  background-size: cover;
  color: #ffd6b7;
  font-size: .32rem;
  line-height: .6rem;
  text-align: center;
}
html section.main > div:nth-child(3) > div:nth-child(2),
body section.main > div:nth-child(3) > div:nth-child(2) {
  width: 6rem;
  height: 3.89rem;
  margin: .78rem auto 0;
}
html section.main > div:nth-child(3) > div:nth-child(2) > div:nth-child(1),
body section.main > div:nth-child(3) > div:nth-child(2) > div:nth-child(1) {
  width: 4.67rem;
  height: 1.15rem;
  background: url('../images/main_03.png') no-repeat;
  background-size: cover;
  margin: 0 auto;
}
html section.main > div:nth-child(3) > div:nth-child(2) > div:nth-child(2),
body section.main > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) {
  width: 6rem;
  margin-top: .6rem;
  display: flex;
}
html section.main > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > p,
body section.main > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > p {
  flex: 1;
  text-align: center;
  font-size: .28rem;
  color: #cd3e3e;
}
html section.main > div:nth-child(3) > div:nth-child(2) > div:nth-child(3),
body section.main > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) {
  width: 6rem;
  height: 1.82rem;
  padding-top: .26rem;
  box-sizing: border-box;
}
html section.main > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) > ul,
body section.main > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) > ul {
  width: 6rem;
  height: 2rem;
  overflow-y: scroll;
}
html section.main > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) > ul > li,
body section.main > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) > ul > li {
  width: 6rem;
  display: flex;
  line-height: .5rem;
}
html section.main > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) > ul > li > p,
body section.main > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) > ul > li > p {
  flex: 1;
  font-size: .28rem;
  color: #455fa9;
  text-align: center;
}
html section.share,
body section.share {
  display: none;
  position: fixed;
  top: 0;
  width: 7.5rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
}
html section.share > div,
body section.share > div {
  position: absolute;
  top: .28rem;
  right: .28rem;
  width: 6.01rem;
  height: 2.20rem;
  background: url('../images/share_01.png') no-repeat;
  background-size: cover;
}
html section.bind,
body section.bind {
  display: none;
}
html section.tc_rule,
body section.tc_rule {
  display: none;
}
html section.tc_rule > div:nth-child(1),
body section.tc_rule > div:nth-child(1) {
  width: 7.5rem;
  height: 6.3rem;
  background: url('../images/rule_02.png') no-repeat;
  background-size: cover;
  position: absolute;
}
html section.tc_rule > div:nth-child(2),
body section.tc_rule > div:nth-child(2) {
  position: relative;
  top: .47rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 5.88rem;
  z-index: 1;
}
html section.tc_rule > div:nth-child(2) div,
body section.tc_rule > div:nth-child(2) div {
  width: 5.88rem;
  height: 7.27rem;
  background: url('../images/rule_01.png') no-repeat;
  background-size: cover;
}
html section.tc_rule > div:nth-child(2) div > ul,
body section.tc_rule > div:nth-child(2) div > ul {
  position: absolute;
  top: 1.76rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 4.87rem;
  height: 4.98rem;
  overflow-y: scroll;
  font-size: .24rem;
  color: #cd3e3e;
}
html section.tc_rule > div:nth-child(2) div > ul > li,
body section.tc_rule > div:nth-child(2) div > ul > li {
  line-height: .5rem;
  text-align: justify;
}
html section.tc_rule > div:nth-child(2) div > ul > li:nth-child(1) > p:nth-child(1),
body section.tc_rule > div:nth-child(2) div > ul > li:nth-child(1) > p:nth-child(1),
html section.tc_rule > div:nth-child(2) div > ul > li:nth-child(2) > p:nth-child(1),
body section.tc_rule > div:nth-child(2) div > ul > li:nth-child(2) > p:nth-child(1),
html section.tc_rule > div:nth-child(2) div > ul > li:nth-child(3) > p:nth-child(1),
body section.tc_rule > div:nth-child(2) div > ul > li:nth-child(3) > p:nth-child(1) {
  font-size: .28rem;
}
html section.tc_rule > div:nth-child(2) > a,
body section.tc_rule > div:nth-child(2) > a {
  position: absolute;
  left: 0;
  right: 0;
  margin: .5rem  auto 0;
  display: inline-block;
  width: 2.6rem;
  height: .6rem;
  background: url('../images/topic_04.png') no-repeat;
  background-size: cover;
  color: #ffd6b7;
  font-size: .32rem;
  line-height: .6rem;
  text-align: center;
}
html section.tc_rule > div:nth-child(3),
body section.tc_rule > div:nth-child(3) {
  position: absolute;
  bottom: 0;
  width: 7.5rem;
  height: 4.79rem;
  background: url('../images/boot.png') no-repeat;
  background-size: cover;
}
html section.fri_home,
body section.fri_home {
  display: none;
}
html section.fri_home > div:nth-child(1),
body section.fri_home > div:nth-child(1) {
  width: 7.5rem;
  height: 6.3rem;
  background: url('../images/rule_02.png') no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
html section.fri_home > div:nth-child(1) > div,
body section.fri_home > div:nth-child(1) > div {
  width: 6.75rem;
  height: 4.36rem;
  background: url('../images/fri_home_01.png') no-repeat;
  background-size: cover;
}
html section.fri_home > div:nth-child(1) > a,
body section.fri_home > div:nth-child(1) > a {
  position: absolute;
  right: .27rem;
  top: .3rem;
  display: inline-block;
  width: 1.38rem;
  height: .4rem;
  border-radius: .2rem;
  background-color: #1b4ca3;
  text-align: center;
  line-height: .4rem;
  font-size: .24rem;
  color: #ffe1ad;
}
html section.fri_home > div:nth-child(2),
body section.fri_home > div:nth-child(2) {
  position: relative;
  top: -1.11rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 5.88rem;
  height: 5.12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
html section.fri_home > div:nth-child(2) > div,
body section.fri_home > div:nth-child(2) > div {
  width: 5.88rem;
  height: 3.88rem;
  background: url('../images/fri_home_02.png') no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding: .55rem 0 0 .68rem;
}
html section.fri_home > div:nth-child(2) > div > p,
body section.fri_home > div:nth-child(2) > div > p {
  line-height: .6rem;
  font-size: .28rem;
  color: #70679c;
}
html section.fri_home > div:nth-child(2) > div > p:nth-child(4) > span,
body section.fri_home > div:nth-child(2) > div > p:nth-child(4) > span {
  color: #ffd7b8;
  font-size: .39rem;
}
html section.fri_home > div:nth-child(2) > a,
body section.fri_home > div:nth-child(2) > a {
  display: inline-block;
  width: 3.53rem;
  height: .82rem;
  background: url('../images/fri_home_03.png') no-repeat;
  background-size: cover;
  z-index: 1;
}
html section.fri_home > div:nth-child(3),
body section.fri_home > div:nth-child(3) {
  position: absolute;
  bottom: 0;
  width: 7.5rem;
  height: 4.79rem;
  background: url('../images/boot.png') no-repeat;
  background-size: cover;
}
html section.pop,
body section.pop {
  position: fixed;
  top: 1.38rem;
  z-index: 200;
  left: 0;
  right: 0;
  margin: auto;
}
html section.pop.tc_1,
body section.pop.tc_1,
html section.pop.tc_5,
body section.pop.tc_5,
html section.pop.tc_7,
body section.pop.tc_7 {
  display: none;
  width: 6.48rem;
  height: 7.5rem;
}
html section.pop.tc_1 > div,
body section.pop.tc_1 > div,
html section.pop.tc_5 > div,
body section.pop.tc_5 > div,
html section.pop.tc_7 > div,
body section.pop.tc_7 > div {
  width: 6.48rem;
  height: 6.33rem;
  margin: 0 auto;
  text-align: center;
  background: url('../images/tc_01.png') no-repeat;
  background-size: cover;
}
html section.pop.tc_1 > div > div,
body section.pop.tc_1 > div > div,
html section.pop.tc_5 > div > div,
body section.pop.tc_5 > div > div,
html section.pop.tc_7 > div > div,
body section.pop.tc_7 > div > div {
  position: absolute;
  top: 1.11rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 5.6rem;
  height: 4.66rem;
  text-align: center;
}
html section.pop.tc_1 > div > div > p:nth-child(1),
body section.pop.tc_1 > div > div > p:nth-child(1),
html section.pop.tc_5 > div > div > p:nth-child(1),
body section.pop.tc_5 > div > div > p:nth-child(1),
html section.pop.tc_7 > div > div > p:nth-child(1),
body section.pop.tc_7 > div > div > p:nth-child(1),
html section.pop.tc_1 > div > div > p:nth-child(2),
body section.pop.tc_1 > div > div > p:nth-child(2),
html section.pop.tc_5 > div > div > p:nth-child(2),
body section.pop.tc_5 > div > div > p:nth-child(2),
html section.pop.tc_7 > div > div > p:nth-child(2),
body section.pop.tc_7 > div > div > p:nth-child(2),
html section.pop.tc_1 > div > div > p:nth-child(3),
body section.pop.tc_1 > div > div > p:nth-child(3),
html section.pop.tc_5 > div > div > p:nth-child(3),
body section.pop.tc_5 > div > div > p:nth-child(3),
html section.pop.tc_7 > div > div > p:nth-child(3),
body section.pop.tc_7 > div > div > p:nth-child(3) {
  font-size: .3rem;
}
html section.pop.tc_1 > div > div > p:nth-child(4),
body section.pop.tc_1 > div > div > p:nth-child(4),
html section.pop.tc_5 > div > div > p:nth-child(4),
body section.pop.tc_5 > div > div > p:nth-child(4),
html section.pop.tc_7 > div > div > p:nth-child(4),
body section.pop.tc_7 > div > div > p:nth-child(4),
html section.pop.tc_1 > div > div > p:nth-child(5),
body section.pop.tc_1 > div > div > p:nth-child(5),
html section.pop.tc_5 > div > div > p:nth-child(5),
body section.pop.tc_5 > div > div > p:nth-child(5),
html section.pop.tc_7 > div > div > p:nth-child(5),
body section.pop.tc_7 > div > div > p:nth-child(5),
html section.pop.tc_1 > div > div > p:nth-child(6),
body section.pop.tc_1 > div > div > p:nth-child(6),
html section.pop.tc_5 > div > div > p:nth-child(6),
body section.pop.tc_5 > div > div > p:nth-child(6),
html section.pop.tc_7 > div > div > p:nth-child(6),
body section.pop.tc_7 > div > div > p:nth-child(6) {
  font-size: .28rem;
}
html section.pop.tc_1 > div > div > p:nth-child(4),
body section.pop.tc_1 > div > div > p:nth-child(4),
html section.pop.tc_5 > div > div > p:nth-child(4),
body section.pop.tc_5 > div > div > p:nth-child(4),
html section.pop.tc_7 > div > div > p:nth-child(4),
body section.pop.tc_7 > div > div > p:nth-child(4) {
  margin-top: .35rem;
}
html section.pop.tc_1 > div > div > p:nth-child(2),
body section.pop.tc_1 > div > div > p:nth-child(2),
html section.pop.tc_5 > div > div > p:nth-child(2),
body section.pop.tc_5 > div > div > p:nth-child(2),
html section.pop.tc_7 > div > div > p:nth-child(2),
body section.pop.tc_7 > div > div > p:nth-child(2) {
  color: #d44643;
}
html section.pop.tc_1 > div > div > p:nth-child(3),
body section.pop.tc_1 > div > div > p:nth-child(3),
html section.pop.tc_5 > div > div > p:nth-child(3),
body section.pop.tc_5 > div > div > p:nth-child(3),
html section.pop.tc_7 > div > div > p:nth-child(3),
body section.pop.tc_7 > div > div > p:nth-child(3) {
  margin-top: .1rem;
}
html section.pop.tc_1 > div > div > p:nth-child(3) > span,
body section.pop.tc_1 > div > div > p:nth-child(3) > span,
html section.pop.tc_5 > div > div > p:nth-child(3) > span,
body section.pop.tc_5 > div > div > p:nth-child(3) > span,
html section.pop.tc_7 > div > div > p:nth-child(3) > span,
body section.pop.tc_7 > div > div > p:nth-child(3) > span {
  color: #d44643;
}
html section.pop.tc_1 > div > div > a,
body section.pop.tc_1 > div > div > a,
html section.pop.tc_5 > div > div > a,
body section.pop.tc_5 > div > div > a,
html section.pop.tc_7 > div > div > a,
body section.pop.tc_7 > div > div > a {
  display: inline-block;
  width: 5.6rem;
  height: 1.56rem;
  background-color: #bd1c1c;
  margin-top: .39rem;
}
html section.pop.tc_1 > a:nth-child(1),
body section.pop.tc_1 > a:nth-child(1),
html section.pop.tc_5 > a:nth-child(1),
body section.pop.tc_5 > a:nth-child(1),
html section.pop.tc_7 > a:nth-child(1),
body section.pop.tc_7 > a:nth-child(1) {
  width: .65rem;
  height: .65rem;
  background: url('../images/close.png') no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  top: -0.65rem;
}
html section.pop.tc_1 > a:nth-child(3),
body section.pop.tc_1 > a:nth-child(3),
html section.pop.tc_5 > a:nth-child(3),
body section.pop.tc_5 > a:nth-child(3),
html section.pop.tc_7 > a:nth-child(3),
body section.pop.tc_7 > a:nth-child(3) {
  position: absolute;
  left: 0;
  right: 0;
  display: inline-block;
  width: 2.6rem;
  height: .6rem;
  background: url('../images/topic_04.png') no-repeat;
  background-size: cover;
  color: #ffd6b7;
  font-size: .32rem;
  line-height: .6rem;
  text-align: center;
  margin: .5rem auto 0;
}
html section.pop.tc_2,
body section.pop.tc_2 {
  display: none;
  top: 1rem;
  height: 5.85rem;
}
html section.pop.tc_2 > div,
body section.pop.tc_2 > div {
  margin: 0 auto;
}
html section.pop.tc_2 > div:nth-child(1),
body section.pop.tc_2 > div:nth-child(1) {
  text-align: right;
  width: 5.88rem;
}
html section.pop.tc_2 > div:nth-child(1) > a,
body section.pop.tc_2 > div:nth-child(1) > a {
  display: inline-block;
  width: .65rem;
  height: .65rem;
  background: url('../images/close.png') no-repeat;
  background-size: cover;
}
html section.pop.tc_2 > div:nth-child(2),
body section.pop.tc_2 > div:nth-child(2) {
  font-size: .3rem;
  width: 5.88rem;
  height: 4.78rem;
  background: url('../images/tc_02.png') no-repeat;
  background-size: cover;
}
html section.pop.tc_2 > div:nth-child(2) > div,
body section.pop.tc_2 > div:nth-child(2) > div {
  position: absolute;
  top: 1.91rem;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
html section.pop.tc_2 > div:nth-child(2) > div > p:nth-child(2),
body section.pop.tc_2 > div:nth-child(2) > div > p:nth-child(2) {
  color: #d44643;
}
html section.pop.tc_2 > div:nth-child(2) > div > p:nth-child(3),
body section.pop.tc_2 > div:nth-child(2) > div > p:nth-child(3) {
  margin-top: .1rem;
}
html section.pop.tc_2 > div:nth-child(2) > div > p:nth-child(3) > span,
body section.pop.tc_2 > div:nth-child(2) > div > p:nth-child(3) > span {
  color: #d44643;
}
html section.pop.tc_2 > div:nth-child(2) > div > p:nth-child(5),
body section.pop.tc_2 > div:nth-child(2) > div > p:nth-child(5) {
  margin-top: .6rem;
  font-size: .28rem;
}
html section.pop.tc_2 > div:nth-child(3),
body section.pop.tc_2 > div:nth-child(3) {
  width: 5.63rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .5rem auto 0;
}
html section.pop.tc_2 > div:nth-child(3) > a,
body section.pop.tc_2 > div:nth-child(3) > a {
  display: inline-block;
  width: 2.6rem;
  height: .6rem;
  background: url('../images/topic_04.png') no-repeat;
  background-size: cover;
  color: #ffd6b7;
  font-size: .32rem;
  line-height: .6rem;
  text-align: center;
}
html section.pop.tc_2 > div:nth-child(4),
body section.pop.tc_2 > div:nth-child(4) {
  width: 7.5rem;
  height: 1.6rem;
  background: url('../images/last.gif') no-repeat;
  background-size: cover;
  margin: .6rem auto 0;
}
html section.pop.tc_3,
body section.pop.tc_3 {
  display: none;
  width: 5.88rem;
  height: 5.85rem;
}
html section.pop.tc_3 > div,
body section.pop.tc_3 > div {
  font-size: .3rem;
  width: 5.88rem;
  height: 4.78rem;
  background: url('../images/tc_02.png') no-repeat;
  background-size: cover;
  margin-top: .65rem;
}
html section.pop.tc_3 > div > div,
body section.pop.tc_3 > div > div {
  position: absolute;
  top: 2.16rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 4.31rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
html section.pop.tc_3 > div > div > div,
body section.pop.tc_3 > div > div > div {
  display: flex;
  align-items: center;
}
html section.pop.tc_3 > div > div > div > input,
body section.pop.tc_3 > div > div > div > input {
  width: 2.61rem;
  height: .52rem;
  border: solid 1px #cd3e3e;
  background-color: #fcd3b5;
  box-sizing: border-box;
  padding-left: .1rem;
  display: flex;
  align-items: center;
  border-radius: .26rem;
  margin-left: .1rem;
}
html section.pop.tc_3 > div > div > p:nth-child(3),
body section.pop.tc_3 > div > div > p:nth-child(3) {
  font-size: .24rem;
}
html section.pop.tc_3 > a,
body section.pop.tc_3 > a {
  display: inline-block;
}
html section.pop.tc_3 > a:nth-child(1),
body section.pop.tc_3 > a:nth-child(1) {
  float: right;
  width: .65rem;
  height: .65rem;
  background: url('../images/close.png') no-repeat;
  background-size: cover;
}
html section.pop.tc_3 > a:nth-child(3),
body section.pop.tc_3 > a:nth-child(3) {
  display: inline-block;
  width: 2.6rem;
  height: .6rem;
  background: url('../images/topic_04.png') no-repeat;
  background-size: cover;
  color: #ffd6b7;
  font-size: .32rem;
  line-height: .6rem;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: .5rem auto 0;
}
html section.pop.tc_4,
body section.pop.tc_4 {
  display: none;
  width: 5.88rem;
  height: 6.24rem;
}
html section.pop.tc_4 > div,
body section.pop.tc_4 > div {
  margin: 0 auto;
}
html section.pop.tc_4 > div:nth-child(1),
body section.pop.tc_4 > div:nth-child(1) {
  width: 5.88rem;
  height: 5.17rem;
  background: url('../images/tc_03.png') no-repeat;
  background-size: cover;
}
html section.pop.tc_4 > div:nth-child(1) > div,
body section.pop.tc_4 > div:nth-child(1) > div {
  position: absolute;
  top: 1.76rem;
  left: 0;
  right: 0;
  margin: auto;
  height: 2.52rem;
  text-align: center;
  font-size: .3rem;
}
html section.pop.tc_4 > div:nth-child(1) > div > p:nth-child(2) > span,
body section.pop.tc_4 > div:nth-child(1) > div > p:nth-child(2) > span {
  color: #cc2e38;
}
html section.pop.tc_4 > div:nth-child(1) > div > p:nth-child(4) > span,
body section.pop.tc_4 > div:nth-child(1) > div > p:nth-child(4) > span {
  color: #cc2e38;
}
html section.pop.tc_4 > div:nth-child(1) > div > p:nth-child(5),
body section.pop.tc_4 > div:nth-child(1) > div > p:nth-child(5) {
  margin-top: .49rem;
  font-size: .28rem;
}
html section.pop.tc_4 > div:nth-child(2),
body section.pop.tc_4 > div:nth-child(2) {
  width: 5.63rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .5rem auto 0;
}
html section.pop.tc_4 > div:nth-child(2) > a,
body section.pop.tc_4 > div:nth-child(2) > a {
  display: inline-block;
  width: 2.6rem;
  height: .6rem;
  background: url('../images/topic_04.png') no-repeat;
  background-size: cover;
  color: #ffd6b7;
  font-size: .32rem;
  line-height: .6rem;
  text-align: center;
}
html section.pop.tc_5,
body section.pop.tc_5 {
  display: none;
}
html section.pop.tc_5 > div > div > p:nth-child(1) > span,
body section.pop.tc_5 > div > div > p:nth-child(1) > span {
  color: #d44643;
}
html section.pop.tc_5 > div > div > p:nth-child(2),
body section.pop.tc_5 > div > div > p:nth-child(2) {
  color: #000;
}
html section.pop.fri_tc,
body section.pop.fri_tc {
  display: none;
}
html section.pop.fri_tc > div,
body section.pop.fri_tc > div {
  font-size: .3rem;
  width: 5.88rem;
  height: 4.78rem;
  background: url('../images/tc_02.png') no-repeat;
  background-size: cover;
  margin: 0 auto;
}
html section.pop.fri_tc > div > div,
body section.pop.fri_tc > div > div {
  position: absolute;
  top: 1.42rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 4.02rem;
  height: 2.81rem;
}
html section.pop.fri_tc > div > div > p,
body section.pop.fri_tc > div > div > p {
  line-height: .5rem;
}
html section.pop.fri_tc > div > div > p:nth-child(4) > span,
body section.pop.fri_tc > div > div > p:nth-child(4) > span {
  font-size: .36rem;
  color: #fdd7b9;
}
html section.pop.fri_tc > a,
body section.pop.fri_tc > a {
  display: inline-block;
  width: 2.6rem;
  height: .6rem;
  background: url('../images/topic_04.png') no-repeat;
  background-size: cover;
  color: #ffd6b7;
  font-size: .32rem;
  line-height: .6rem;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: .5rem auto 0;
}
html section.pop.tc_6,
body section.pop.tc_6 {
  display: none;
  font-size: .3rem;
  width: 5.88rem;
  height: 4.78rem;
  background: url('../images/tc_02.png') no-repeat;
  background-size: cover;
  text-align: center;
}
html section.pop.tc_6 > div,
body section.pop.tc_6 > div {
  height: 4.78rem;
}
html section.pop.tc_6 > div > p,
body section.pop.tc_6 > div > p {
  position: absolute;
  top: 1.91rem;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
html section.pop.tc_6 > a,
body section.pop.tc_6 > a {
  display: inline-block;
  width: 2.6rem;
  height: .6rem;
  background: url('../images/topic_04.png') no-repeat;
  background-size: cover;
  color: #ffd6b7;
  font-size: .32rem;
  line-height: .6rem;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: .5rem auto 0;
}
html section.pop.tc_7,
body section.pop.tc_7 {
  display: none;
}
html section.pop.tc_7 > div,
body section.pop.tc_7 > div {
  margin: 0 auto;
  text-align: center;
  width: 5.88rem;
  height: 4.78rem;
  background: url('../images/tc_02.png') no-repeat;
  background-size: cover;
}
html section.pop.tc_7 > div > div,
body section.pop.tc_7 > div > div {
  height: 0;
  top: 1.4rem;
}
html section.pop.tc_7 > div > div > p:nth-child(2),
body section.pop.tc_7 > div > div > p:nth-child(2) {
  margin-bottom: .3rem;
  color: #000;
}
html section.pop.tc_7 > div > div > p:nth-child(4),
body section.pop.tc_7 > div > div > p:nth-child(4) {
  margin: 0;
}
html section.pop.tc_7 > div > div > p:nth-child(5) > span,
body section.pop.tc_7 > div > div > p:nth-child(5) > span {
  font-size: .4rem;
  color: #ffe1ad;
}
html section.pop.tc_7 > a,
body section.pop.tc_7 > a {
  position: absolute;
  left: 0;
  right: 0;
  display: inline-block;
  width: 2.6rem;
  height: .6rem;
  background: url('../images/topic_04.png') no-repeat;
  background-size: cover;
  color: #ffd6b7;
  font-size: .32rem;
  line-height: .6rem;
  text-align: center;
  margin: .5rem auto 0;
}
html section.mask,
body section.mask {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 100;
}
* {
  touch-action: pan-y;
}
